*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}
.navbar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header, main {
    margin: auto 130px;
}

.nav-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
.nav-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.nav-title > span {
    color: #FF5400;
}

/* nav menu */
.nav-menu li{
    display: inline;
    
}
.nav-menu li {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
    margin-left: 44px;
}
.nav-menu li a {
    text-decoration: none;
    color: #424247;
    transition: all 0.3s 0.1s ease-in-out;
}
.nav-menu li:hover a {
    color: #FF5400;
}
.nav-menu .side-button {
    display: none;
}

/* side bar styles */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.605);
    backdrop-filter: blur(10px);
}
header {
    margin-bottom: 40px;
}

/* banner section */
.banner-section > .banner-bg {
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}   
.banner-section {
    margin-bottom: 100px;
}
.banner-section .banner-container {
    text-align: center;
    padding: 106px 60px 0;
    
}
.banner-title {
    color: white;
    font-size: 64px;
    font-weight:  800;
    margin-bottom: 24px;
}
.banner-description {
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 48px;
    padding: auto;
}
.banner-container .banner-inputs {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: max-content;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 5px;
}
.banner-container .banner-inputs input{
    font-size: 16px;
    color: rgba(19, 19, 19, 0.50);
    padding: 16px;
    border-radius: 8px;
    border: none;
}
.select-input {
    font-size: 16px;
    color: rgba(19, 19, 19, 0.50);
    padding: 16px 16px;
    border-radius: 8px;
    border: none;
    width: 150px;
}

.banner-container .banner-inputs > button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #FF5400;;
    border-radius: 8px;
    border: none;
    padding: 15px 34px;
}




/* responsive media query */
@media(max-width: 600px) {
    body {
        width: 100%;
    }
    header , main {
        margin: auto 20px;
    }
    ul  .hide-menu {
        display: none;
    }
    .nav-menu .side-button {
        display: block;
    }
    .nav-icon > img {
        width: 28.724px;
        height: 33.516px;
    
    }
    .nav-icon > .nav-title {
        font-size: 21.543px;
    }

    /* Banner section */

    .banner-title {
        font-size: 22px;
        margin-bottom: 8px;
    }
    .banner-description {
        width: 100%;
        font-size: 14px; 
        margin-bottom: 32px;
    }
    .banner-inputs {
        flex-direction: column;
        gap: 16px;
    }
    .banner-container .banner-inputs {
        width: 80%;
    }
    .banner-section
    .banner-container {
        padding: 32px 16px;
    }
    .banner-section .banner-bg {
        height: auto;
        width: auto;
    }
    .banner-inputs .select-input {
        width: 100%;
    }
    .banner-inputs > button {
        width: 100%;
    }

}
